@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rubik:wght@500&display=swap");
/* used in every file */
.gradient {
  background: linear-gradient(to right, rgba(177, 106, 179, 0.64), rgba(69, 104, 220, 0.64)); }

.nav__list li a {
  text-decoration: none;
  color: #676767; }
  .nav__list li a:hover {
    color: rgba(176, 106, 179, 0.7); }

/*----used in every file----*/
/* HEADER */
header {
  background: linear-gradient(to right, rgba(177, 106, 179, 0.64), rgba(69, 104, 220, 0.64)), url(../image/railway.jpg) 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-bottom: -50px;
  height: 20%; }
  header .nav-link {
    font-size: 1vw;
    color: white;
    font-family: 'Rubik'; }
    header .nav-link img {
      width: 16px; }
    header .nav-link:hover {
      color: rgba(176, 106, 179, 0.7); }
  header h1 {
    font-size: 5vw;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding-bottom: 50px; }

/* MAIN WRAP */
.main__wrap {
  width: 90;
  position: relative;
  background: white;
  z-index: 1; }

i.fas.fa-pencil-alt {
  color: white;
  font-size: 16px; }
  i.fas.fa-pencil-alt:hover {
    color: rgba(176, 106, 179, 0.7); }

i.fas.fa-comments, i.fas.fa-eye, i.fas.fa-clock {
  color: white;
  font-size: 16px; }

i.fas.fa-home, i.fas.fa-cog, i.fa.fa-search, i.fas.fa-external-link-alt {
  color: #676767 !important;
  text-decoration: none;
  font-size: 16px; }
  i.fas.fa-home:hover, i.fas.fa-cog:hover, i.fa.fa-search:hover, i.fas.fa-external-link-alt:hover {
    color: #b06ab3; }

.b-radius {
  border-radius: 10px; }

.button--modifier {
  background: #B06AB3;
  color: #FFFFFF; }
  .button--modifier:hover {
    background: #ffffff;
    color: #B06AB3; }

.alert {
  background-color: #ECD5DB;
  color: #BC2A4D;
  padding: 15px;
  border-left: 3px solid;
  margin-bottom: 30px; }

/* END MAIN WRAP */
/* BOARD INNER*/
.topics {
  max-width: 300px;
  max-height: 200px;
  border-radius: 10px; }
  .topics img {
    width: 70px;
    height: 70px; }

.topics__description {
  width: 80%; }

.topics__wrap {
  max-height: 500px;
  border-radius: 10px;
  font-size: auto;
  background: rgba(234, 234, 234, 0.599); }

.topics__title {
  font-family: Rubik;
  font-weight: 500; }
  .topics__title a {
    text-decoration: none;
    color: #676767; }
  .topics__title .fas.fa-check {
    color: green; }

.topics__description, .topics__text {
  color: #8e8e8ef2; }

.topics__hr {
  background: linear-gradient(to right, rgba(177, 106, 179, 0.64), rgba(69, 104, 220, 0.64));
  height: 2px;
  width: 20%; }

.board__inner {
  background: white;
  font-family: Rubik; }

.board__wrap {
  width: auto; }

/* END INNER BOARD */
.rightcol .btn {
  color: #676767; }
.rightcol .login-button {
  width: 500px; }
.rightcol hr {
  background: linear-gradient(to right, rgba(177, 106, 179, 0.64), rgba(69, 104, 220, 0.64));
  height: 3px; }

.topics-top {
  border-radius: 10px 10px 0 0; }
  .topics-top .topics-top-title {
    color: #FFFFFFFF; }
    .topics-top .topics-top-title h4 {
      padding-top: 5px;
      padding-left: 5px;
      font-weight: 300; }
  .topics-top .last-topics-wrap {
    margin: 10px;
    border-radius: 10px;
    background: #FFFFFFFF; }
    .topics-top .last-topics-wrap span {
      color: #676767; }
    .topics-top .last-topics-wrap h4 {
      font-weight: 300;
      border-radius: 10px 10px 0 0; }

.user-top {
  margin-top: 30px;
  background: #f2f2f2; }
  .user-top .user-top-title {
    color: #FFFFFFFF;
    background: linear-gradient(to right, rgba(177, 106, 179, 0.64), rgba(69, 104, 220, 0.64)); }
  .user-top .last-user-wrap {
    margin: 10px;
    border-radius: 10px;
    background: #FFFFFFFF; }
    .user-top .last-user-wrap span {
      color: #676767; }
    .user-top .last-user-wrap h4 {
      font-weight: 300;
      border-radius: 10px 10px 0 0; }
      .user-top .last-user-wrap h4 .col-4 {
        max-width: 130px; }

#footer .row-social-media {
  width: auto;
  margin-top: -25px;
  min-height: 13vh;
  background: linear-gradient(to right, rgba(177, 106, 179, 0.64), rgba(69, 104, 220, 0.64)); }
  #footer .row-social-media a {
    height: 46px;
    width: 46px;
    border-radius: 25px;
    border: 1px solid white; }
#footer .row_more-infos {
  min-height: 10vh;
  background-color: #323233;
  color: rgba(176, 106, 179, 0.7); }
  #footer .row_more-infos .more-infos__link {
    text-decoration: none;
    color: #B06AB3;
    font: size 13; }
#footer .row_end {
  height: 3vh;
  background-color: #000000; }

.fa {
  color: white;
  font-size: 24px; }

.social-bar {
  height: 15%;
  width: auto;
  padding: 15px; }

/*# sourceMappingURL=style.css.map */
