@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500");
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 95% !important; } }
@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 95% !important; } }
/* used in every file */
.gradient {
  background: linear-gradient(to right, rgba(177, 106, 179, 0.64), rgba(69, 104, 220, 0.64)); }

.nav__list li a {
  text-decoration: none;
  color: #676767; }
  .nav__list li a:hover {
    color: rgba(176, 106, 179, 0.7); }
  .nav__list li a i.fas.fa-home {
    color: #676767;
    text-decoration: none;
    font-size: 16px; }
    .nav__list li a i.fas.fa-home:hover {
      color: #b06ab3; }

/*----used in every file----*/
/* HEADER */
header {
  background: linear-gradient(to right, rgba(177, 106, 179, 0.64), rgba(69, 104, 220, 0.64)), url(../image/railway.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-bottom: -50px;
  height: 20%; }
  header .nav-link {
    font-size: 1vw;
    color: white;
    font-family: 'Rubik'; }
    header .nav-link i.fas.fa-home {
      color: white !important; }
    header .nav-link img {
      width: 16px; }
    header .nav-link:hover {
      color: rgba(176, 106, 179, 0.7); }
  header h1 {
    font-size: 5vw;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding-bottom: 50px; }

/* PROFIL */
.profil__image img {
  border-radius: 75px; }

.profil__wrap {
  width: 50% !important; }

/* END PROFIL */
/* MAIN WRAP */
body .main__wrap {
  width: 95%;
  background: white;
  z-index: 1;
  margin-left: auto;
  margin-right: auto; }

i.fas.fa-pencil-alt {
  color: white;
  font-size: 16px; }
  i.fas.fa-pencil-alt:hover {
    color: rgba(176, 106, 179, 0.7); }

i.fas.fa-comments, i.fas.fa-eye, i.fas.fa-clock {
  color: white;
  font-size: 16px; }

.nav__list
i.fas.fa-cog, i.fa.fa-search, i.fas.fa-external-link-alt {
  color: #676767;
  text-decoration: none;
  font-size: 16px; }
  .nav__list
  i.fas.fa-cog:hover, i.fa.fa-search:hover, i.fas.fa-external-link-alt:hover {
    color: #b06ab3; }

.b-radius {
  border-radius: 10px; }

.button--modifier {
  background: #B06AB3;
  color: #FFFFFF; }
  .button--modifier:hover {
    background: #ffffff;
    color: #B06AB3; }

.rules {
  background-color: #ECD5DB;
  color: #BC2A4D;
  padding: 15px;
  border-left: 3px solid;
  margin-bottom: 30px; }

/* END MAIN WRAP */
/* BOARD INNER*/
.topics {
  width: 280px;
  height: 200px;
  border-radius: 10px; }
  .topics img {
    width: 55px;
    height: 55px; }

.form_topics {
  display: none; }

.form_topics_display {
  display: block; }

.topics__description {
  width: 80%; }

.topics__wrap {
  max-height: 500px;
  border-radius: 10px;
  font-size: auto; }

.topics__title {
  font-family: Rubik;
  font-weight: 400; }
  .topics__title a {
    text-decoration: none;
    color: #676767d4; }
    .topics__title a:hover {
      color: #B06AB3; }
  .topics__title .fas.fa-check {
    color: green;
    font-size: small; }

.topics__description, .topics__text {
  color: #8e8e8ef2; }

.topics__top .col-9 {
  padding-right: 0 !important; }

.topics__hr {
  background: linear-gradient(to right, rgba(177, 106, 179, 0.64), rgba(69, 104, 220, 0.64));
  height: 2px;
  width: 20%; }

.topics__bot .col-6 {
  padding-right: 0 !important; }

.board__inner {
  background: white;
  font-family: Rubik; }

.board__wrap {
  width: auto; }

/* END INNER BOARD */
.rightcol .btn {
  color: #676767; }
.rightcol .login-button {
  width: 500px; }
.rightcol hr {
  background: linear-gradient(to right, rgba(177, 106, 179, 0.64), rgba(69, 104, 220, 0.64));
  height: 3px; }

.topics-top {
  border-radius: 10px 10px 0 0; }
  .topics-top .topics-top-title {
    color: #FFFFFFFF; }
    .topics-top .topics-top-title h4 {
      padding-top: 5px;
      padding-left: 5px;
      font-weight: 300; }
  .topics-top .last-topics-wrap {
    margin: 10px;
    border-radius: 10px;
    background: #FFFFFFFF; }
    .topics-top .last-topics-wrap span {
      color: #676767; }
    .topics-top .last-topics-wrap h4 {
      font-weight: 300;
      border-radius: 10px 10px 0 0; }

.user-top {
  margin-top: 30px;
  background: #f2f2f2; }
  .user-top .user-top-title {
    color: #FFFFFFFF;
    background: linear-gradient(to right, rgba(177, 106, 179, 0.64), rgba(69, 104, 220, 0.64)); }
  .user-top .last-user-wrap {
    margin: 10px;
    border-radius: 10px;
    background: #FFFFFFFF; }
    .user-top .last-user-wrap span {
      color: #676767; }
    .user-top .last-user-wrap h4 {
      font-weight: 300;
      border-radius: 10px 10px 0 0; }
      .user-top .last-user-wrap h4 .col-4 {
        max-width: 130px; }

.row-message2 {
  display: none; }

.row-message3 {
  display: block; }

.col-content-message img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 75px;
  width: 150px; }

.message__content {
  font-family: Rubik; }

.topic__title {
  font-family: Rubik;
  font-size: 1.5rem;
  font-weight: 500; }

#footer .row-social-media {
  width: auto;
  margin-top: -25px;
  padding-top: 10px;
  min-height: 13vh;
  background: linear-gradient(to right, rgba(177, 106, 179, 0.64), rgba(69, 104, 220, 0.64)); }
  #footer .row-social-media a {
    height: 40px;
    width: 40px;
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid white;
    color: white; }
    #footer .row-social-media a:hover {
      border: 1px solid #B06AB3;
      color: #B06AB3; }
    #footer .row-social-media a i {
      font-size: 24px; }
#footer .row_more-infos {
  min-height: 10vh;
  background-color: #323233; }
  #footer .row_more-infos .more-infos__link {
    color: #B06AB3;
    font-size: small;
    text-decoration: none; }
    #footer .row_more-infos .more-infos__link i:hover {
      color: white; }
#footer .row_end {
  height: 3vh;
  background-color: #000000; }

.social-bar {
  height: 15%;
  width: auto;
  padding: 15px; }

/*# sourceMappingURL=style.css.map */
