@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500");

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 95% !important;
}
}

@media (min-width: 992px){
  .container, .container-lg, .container-md, .container-sm {
  max-width: 95% !important;
}
}


$primary: rgba(176,106,179,0.7);
$secondary:linear-gradient(to right, rgba(177, 106, 179, 0.64),rgba(69, 104, 220, 0.64));
$tertiary:#B06AB3;
$color: #000000; 
$alpha: 0;


/* used in every file */

.gradient{
  background:$secondary;
}

.nav__list{
  li{
    a{
      text-decoration:none;
      color:#676767;
      &:hover{
        color:$primary;
      }
    }
  }
}
/*----used in every file----*/

/* HEADER */

header{
    background:$secondary, url(../image/railway.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-bottom:-50px;
    height:20%;

    .nav-link{
        font-size: 1vw;
        color: white;
        font-family: 'Rubik';
    
        
            img{
                width: 16px;
                }

            &:hover{
        color:$primary;
        }
    }
    h1{
        font-size: 5vw;
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;
        padding-bottom:50px;
    }
    
}



/* MAIN WRAP */
body{
  .main__wrap{
  width:95%;
  background:white;
  z-index:1;
  margin-left:auto;
  margin-right:auto;
}
}


i.fas.fa-pencil-alt{
    color:white;
    font-size: 16px;
    &:hover{
      color:$primary;
    }
}
i.fas.fa-comments,i.fas.fa-eye,i.fas.fa-clock{
    color:white;
    font-size: 16px;
}

i.fas.fa-home,i.fas.fa-cog,i.fa.fa-search, i.fas.fa-external-link-alt{
  color: #676767 !important;
  text-decoration:none;
  font-size:16px;
  &:hover{
    color: rgba(176,106,179,1);
  }
}

.b-radius{
  border-radius:10px;

}
.button--modifier{
  background:$tertiary;
  color:#FFFFFF;
  &:hover{
    background:#ffffff;
    color:$tertiary;
  }
}

.alert{
  background-color: #ECD5DB;
  color:#BC2A4D;
  padding: 15px;
  border-left: 3px solid;
  margin-bottom:30px;
}

/* END MAIN WRAP */

/* BOARD INNER*/

.topics{
  max-width: 280px;
  max-height:200px;
  border-radius:10px;
    img{
    width:55px;
    height:55px;
    }
}
.topics__description{
  width:80%
}

.topics__wrap{
  max-height: 500px;
  border-radius:10px;
  font-size:auto;
  

}

.topics__title{
  font-family:Rubik;
  font-weight:400;
  a{
    text-decoration:none;
    color:#676767d4;
    &:hover{
      color:$tertiary;
    }
  }
  .fas.fa-check{
  color:green;
  font-size:small;
}
}

.topics__description, .topics__text{
  color:#8e8e8ef2;
}

.topics__top{
  .col-9{
    padding-right:0 !important;
  }
}
.topics__hr{
  background:$secondary;
  height:2px;
  width:20%;
}
.topics__bot{
  .col-6{
    padding-right:0 !important;
  }
}

.board__inner{
  background:white;
  font-family: Rubik;
}

.board__wrap{
  width:auto;
}
/* END INNER BOARD */

//RIGHTCOL

.rightcol
{
    .btn
    {
        color:#676767;
    }

    .login-button{
        width: 500px;

    }
    hr 
    {
        background: $secondary;
        height: 3px;
    }
  
}
.topics-top{
        border-radius:10px 10px 0 0;

    .topics-top-title{
        color: #FFFFFFFF;
        h4{
          padding-top:5px;
          padding-left:5px;
          font-weight:300;
        }
        }    

    .last-topics-wrap{
        margin: 10px;
        border-radius: 10px;

        background: #FFFFFFFF;
        span{
                color: #676767;
            }
        h4{
          font-weight: 300;
          border-radius:10px 10px 0 0;
        }
      }
  
  }

.user-top{
    margin-top:30px;    
    background: #f2f2f2;

.user-top-title{
    color: #FFFFFFFF;
    background: $secondary;
    }    

.last-user-wrap{
    margin: 10px;
    border-radius: 10px;
    background: #FFFFFFFF;
        span{
                color: #676767;
            }
        h4{
        font-weight: 300;
        border-radius:10px 10px 0 0;

        .col-4{
            max-width: 130px;
        }
        
    }
  }

}

// MESSAGES

.row-message2
{
    display:none;
}
.row-message3
{
    display:block;
}




// END MESSAGES

// FOOTER



#footer
{
    .row-social-media
    {
        width:auto;
        margin-top:-25px;
        padding-top:10px;
        min-height: 13vh;
        background: $secondary;
        
        a{
          height: 40px;
          width: 40px;
          text-decoration:none;
          border-radius: 25px;
          border: 1px solid white;
          color: white;
          &:hover{
            border:1px solid $tertiary;
            color:$tertiary;
          }
          i{
            font-size:24px;
          }

        
          }
          
    }
    .row_more-infos
    {
        min-height: 10vh;
        background-color: #323233;
        .more-infos__link
        {
          color: $tertiary;
          font-size: small;
          text-decoration: none;
            i{
              &:hover{
                color:white;
              }
            }
            
        }
    }
    .row_end
    {
        height: 3vh;
        background-color: $color;
    }
     
}



.social-bar{
  height:15%;
  width:auto;
  padding:15px;
}

