// FOOTER
$primary: #b06ab3;
$secondary:linear-gradient(to right, rgba(177, 106, 179, 0.64),rgba(69, 104, 220, 0.64));
$color: #000000; 
$alpha: 0;

.header
{
    height: 40vh;
    background:$secondary;
    background-size:2000px 300px; 
    background-repeat: no-repeat; 
    background-position: center top;
} 
#footer
{
    .row-social-media
    {
        height: 10vh;
        background: $secondary;
          
    }
    .row_details
    {
        height: 5vh;
        background-color: #323233;
    }
    .row_end
    {
        height: 1vh;
        background-color: $color;
    }
     a
    {
        height: 46px;
        width: 46px;
       border-radius: 25px;
        border: 1px solid white;
        
    }
}

.fa
{
    color: white;
    font-size: 24px;
    
}




